<header>
	<nav class="navbar navbar-default">
		<div class="container">
			<ul class="nav navbar-nav">
				<li><a [routerLink]="['/']" class="link">Home</a></li>
				<li><a [routerLink]="['/device']" class="link">Device</a></li>
				<li><a [routerLink]="['/about','Welcome']" class="link">About</a></li>
			</ul>
			<div class="navbar-right">
				<user-logout></user-logout>
			</div>
		</div>
	</nav>
</header>

<section id="body">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</section>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				Demonstrating Menu with Shadow dom styling:
				<menu></menu>
			</div>
		</div>
	</div>
</footer>