<h3>Demonstrating Form Validation and Model/Service</h3>
<h4>(login state & username is shared between components)</h4>
<div class="row">
	<div class="col-sm-6">
		<form [hidden]="user.isLogged()" class="form" (submit)="doLogin($event)" [ngFormModel]="loginForm">
			<div [hidden]="loginForm.valid" class="bg-warning">Form is invalid</div>
			<div class="form-group" [class.has-error]="!loginForm.controls.email.valid && loginForm.controls.email.touched">
				<input class="form-control" ngControl="email" type="email" placeholder="Your email">
			</div>
			<div class="form-group" [class.has-error]="!loginForm.controls.password.valid && loginForm.controls.password.touched">
				<input class="form-control" ngControl="password" type="password" placeholder="Your password">
			</div>
			Login as: {{role}}
			<div class="radio">
				<label>
					<input [(ngModel)]="role" name="role" ngControl="role" type="radio" value="admin" /> Admin</label>
				<label>
					<input [(ngModel)]="role" name="role" ngControl="role" type="radio" value="superadmin" /> Super Admin</label>
			</div>
			<div class="form-group">
				<label>
					<input ngControl="remember" type="checkbox" /> Remember Me</label>
			</div>
			<button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Log in</button>
		</form>
		<div [hidden]="!user.isLogged()">You are logged in!</div>
	</div>
</div>